# Run this on the BWRC-connected tag:license-relay node. Replace RELAY_HEADSCALE_IP
# and BWRC_LICENSE_IP. The two frontend ports MUST match the actual fixed lmgrd
# and vendor-daemon ports. Update the Headscale ACL at the same time if they differ.
global
    maxconn 256

defaults
    mode tcp
    timeout connect 10s
    timeout client 1h
    timeout server 1h

frontend vivado_manager
    bind RELAY_HEADSCALE_IP:2100
    default_backend bwrc_manager

backend bwrc_manager
    server manager BWRC_LICENSE_IP:2100 check

frontend vivado_vendor
    bind RELAY_HEADSCALE_IP:2101
    default_backend bwrc_vendor

backend bwrc_vendor
    server vendor BWRC_LICENSE_IP:2101 check
